<h2><%= title %></h2>

<form method="POST" action="/new">
    <label for="messageUser">User name</label>
    <input name="messageUser" type="text">
    <label for="messageText">Your message</label>
    <input name="messageText" type="text">
    <button type="submit">Post</button>
 </form>   